.progress_bar{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: start;
    border: 1px solid black;
    width: 600px;
    height: 300px;
    transform: translate(-50%, 0%);
    left: 50%;
    top: 50px;
}
p{
    margin: 5px;
    font-size: 20px;
}
.progress_bar_content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 90%;
}
.progress_bar_content_switches{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    height: 150px;
    width: 40%;
}
.progress_bar_content_switches div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
input{
    width: 50px;
    height: 20px;
    margin: 5px;
}
svg{
    width: 200px;
    height: 200px;
}
.ring{
  fill: none;
  stroke: aqua;
  stroke-width: 15px;
  transform-origin: center;
  transform: rotate(270deg);
}
.clone{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    background-color: aqua;
    transition: all 0.3s ease;
    z-index: -1;
    opacity: 0;
}